{% extends "base.html" %}

{% block main %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
<p>ユーザー名、またはパスワードが間違っています。</p>
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-danger" role="alert">
	<p>アカウントにこのページへのアクセス権がありません。</p><br>
	<p>続行するには、アクセス権のあるアカウントでログインしてください。</p>
	</div>
    {% else %}
    <div class="alert alert-info" role="alert">
    <p>このページを表示するには、ログインしてください。</p>
    </div>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'SafetyConf:login' %}">
{% csrf_token %}
<div class="container text-center">
  <div class="form-group">
    <label>{{ form.username.label }}</label><br>
    {{ form.username }}
  </div>
  <div class="form-group">
    <label>{{ form.password.label }}</label><br>
    {{ form.password }}
  </div>
<input type="submit" value="ログイン">
<input type="hidden" name="next" value="{{ next }}">
</div>
</form>

{% endblock %}