{% extends "base.html" %}

{% block title %} 個別リスト {% endblock %}

{% block main %}
<div class="pt-1">
   <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">検索する</button>
    </form>
 </div>
 
 <div class="pt-3">
<table class="table table-striped">
	<thead class="thead">
		<tr>
			<th>id</th>	
			<th>タイトル</th>
			<th>テキスト</th>
			<th>期限</th>
			<th>送信日時</th>
			<th>宛先</th>
			<th>解答<th>

		</tr>
	</thead>
	<tbody>
{% for EmergencyContact in object_list %}
<tr>
<th scope="row">{{ EmergencyContact.emergencyContactId }}</t>
<td>{{ EmergencyContact.title }}</td>
<td>{{ EmergencyContact.text }}</td>
<td>{{ EmergencyContact.deadline }}</td>
<td>{{ EmergencyContact.sendDate }}</td>
<td>
{% for emer in EmergencyContact.destinationGroup.all %}
{{ emer }}
{% endfor %}
</td>
<td><a href="{% url 'SafetyConf:Result' EmergencyContact.emergencyContactId %}">解答リスト</a></td>
</tr>
{% endfor %}
</body>
</table>
</div>

<div class="text">
		<a class="btn btn-outline-primary" href="{% url 'SafetyConf:Index' %}" role="button">メインメニュー</a>
</div>

{% endblock %}
