{% extends "base.html" %}

{% block title %} 社員登録 {% endblock %}

{% block main %}
<form action="{% url 'SafetyConf:Add' %}" method="post">

{% csrf_token %}
<table>
<tr>
<td>{{ form.employeeId.label_tag }}</td>
<td>{{ form.employeeId }}</td><br>
</tr>

<tr>
<td>{{ form.name.label_tag }}</td>
<td>{{ form.name }}</td>
<tr>

<tr>
<td>{{ form.mailaddress.label_tag }}</td>
<td>{{ form.mailaddress }}</td>
</tr>

<tr>
<td>{{ form.subMailaddress.label_tag }}</td>
<td>{{ form.subMailaddress }}</td>
</tr>

<tr>
<td>
{{ form.group.label_tag }}
</td>
<td>
{% for checkbox in form.group %}
    <label class="btn">
    {{ checkbox.tag }} {{ checkbox.choice_label }}
    </label>
{% endfor %}
</td>
</tr>

<tr>
<td></td>
<td>
<div class="text-center">
<div class="pt-3">
<input type="submit" value = "追加"/>
</div>
</div>
</td>
</tr>


<tr>
<td>
<div class="text-center">
<div class="pt-3">
<input type="reset" value="入力内容をリセット">
</div>
</div>
</td>
</tr>


</table>
</form>
{% endblock %}