{% extends "base.html" %}

{% block main %}
<body>
	<p> A2です。 </p>
	<div class="ml-2">
		<button type="button" class="btn btn-primary">Primary</button>
		<li><a href="{% url 'SafetyConf:EmergencyList' %}">緊急連絡一覧</a></li>
		<li><a href="{% url 'SafetyConf:Send' %}">緊急連絡送信</a></li>
		<li><a href="{% url 'SafetyConf:TestSend' %}">テスト送信</a></li>
		<li><a href="{% url 'SafetyConf:Result' %}">結果</a></li>
		<li><a href="{% url 'SafetyConf:Add' %}">追加</a></li>
		<li><a href="{% url 'SafetyConf:EmployeeList' %}">社員一覧</a></li>
		<li><a href="{% url 'SafetyConf:logout' %}">ログアウト</a></li>
	</div>
</body>
{% endblock %}
