{% extends "base.html" %}

{% block main %}
	<div class="text-right">
		<a class="btn btn-outline-primary" href="{% url 'SafetyConf:logout' %}" role="button">ログアウト</a>
	</div>
	<!--
	</div>
		<div class="text-center" >
		<a class="btn btn-outline-primary w-50" href="{% url 'SafetyConf:logout' %}" role="button">ログアウト</a>
	</div>
	-->
	<p> A2です。 </p>
	<div class="text-center">
		<a class="btn btn-outline-primary" href="{% url 'SafetyConf:EmergencyList' %}" role="button">緊急連絡一覧</a>
		<a class="btn btn-outline-primary" href="{% url 'SafetyConf:Send' %}" role="button">緊急連絡送信</a>
		<a class="btn btn-outline-primary" href="{% url 'SafetyConf:TestSend' %}" role="button">テスト送信</a>
		<a class="btn btn-outline-primary" href="{% url 'SafetyConf:Result' %}" role="button">結果</a>
		<a class="btn btn-outline-primary" href="{% url 'SafetyConf:Add' %}" role="button">追加</a>
		<a class="btn btn-outline-primary" href="{% url 'SafetyConf:EmployeeList' %}" role="button">社員一覧</a>
	</div>
{% endblock %}

