{% extends "base.html" %}

{% block title %} Add {% endblock %}

{% block main %}
<form action="{% url 'SafetyConf:AddGroup' %}" method="post">
{% csrf_token %}
<div class="pt-3">
{{ form.groupId }}
{{ form.groupId.errors }}
<table>
<tr>
<td>{{ form.name.label_tag }}</td>
<td>{{ form.name }}</td>
<td>{{ form.name.errors }}</td>
</tr>

<tr>
<td></td>
<td>
<div class="text-center">
<div class="pt-3">
<input type="submit" value="グループ追加">
</div>
</div>
</td>
</tr>
</table>
</div>

</form>
{% endblock %}