{% extends "base.html" %}

{% block title %} 従業員リスト{% endblock %}

{% block main %}
<div class="pt-1">
   <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">検索する</button>
    </form>
</div>
 
<br>
<table class="table table-striped">
	<thead class="thead">

		<tr>
			<th>社員番号</th>
			<th>名前</th>
			<th>メールアドレス</th>
			<th>subメールアドレス</th>
			<th>グループ</th>
			<th>編集</th>
		</tr>
	</thead>
	<tbody>
{% for Employee in object_list%}
<tr>
<td scope="row">{{ Employee.employeeId }}</td>
<td>{{ Employee.name }}</td>
<td>{{ Employee.mailaddress }}</td>
<td>{{ Employee.subMailaddress }}</td>
<td>
{% for group in Employee.group.all %}
{{ group }}{% if forloop.last %}{% else %}，{% endif %}
{% endfor %}
</td>
<td>
<div class="text">
<a href="{% url 'SafetyConf:Change' Employee.employeeId %}">変更</a>
</div>
</td>
</tr>
{% endfor %}
</table>

<div class="text">
		<a class="btn btn-outline-primary" href="{% url 'SafetyConf:Index' %}" role="button">メインメニュー</a>
</div>

<!--
<ul>
<li><a href="{% url 'SafetyConf:Index' %}">メインメニュー</a></li>
</ul>
-->
{% endblock %}

