{% extends "base.html" %}

{% block title %} 個別リスト {% endblock %}

{% block main %}
   <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">検索する</button>
    </form>
 
<br>
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>id</th>	
			<th>タイトル</th>
			<th>テキスト</th>
			<th>期限</th>
			<th>送信日時</th>
			<th>宛先</th>
		</tr>
	</thead>
	<tbody>
{% for EmergencyContact in object_list %}
<tr>
<th scope="row">{{ EmergencyContact.emergencyContactId }}</t>
<td>{{ EmergencyContact.title }}</td>
<td>{{ EmergencyContact.text }}</td>
<td>{{ EmergencyContact.deadline }}</td>
<td>{{ EmergencyContact.sendDate }}</td>
<td>
{% for emer in EmergencyContact.destinationGroup.all %}
{{ emer }},
{% endfor %}
</td>
</tr>
{% endfor %}
</body>
</table>



<button type="button" class="btn btn-primary"><a href="{% url 'SafetyConf:Index' %}"><font color="white">メインメニュー</font></a></button>
{% endblock %}
