{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} 安否確認 {% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#!">安否確認</a>
</nav>


  {% block main %}{% endblock %}
    </div>
</body>
</html>